.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px
}

.items {
  display: flex;
  flex-direction: column;
  gap: 12px
}

.empty {
  opacity: .7;
  text-align: center;
  padding: 24px
}
